.nav-links-text {
    list-style: none;
 }
 
 .nav-links-text a {
    color: #278145 !important;
    text-decoration: none;
    font-size: 1.5rem;
 }

 .nav-links-text a:hover {   
    color:#86b394 !important;
}


/* sector redes */
.navbar-responsive-redes {
    color: black;
}
.navbar-responsive-subtitle {
    color: #278145 !important;
    text-align: center;
}
.navbar-responsive-icons-container li{
    text-align: center;
    font-size: 25px;
    list-style: none;
}
.navbar-responsive-icons-container li{
    text-align: center;
    font-size: 30px;
    list-style: none;
}
.social-navbar-icon{
    color: #278145;
}.social-navbar-icon:hover{
    color:#64b17d;
}





.fix-to-top{
    padding: 0;
    position: sticky;
    /* top: 0; */
    z-index: 1020;
    transition: top 0.3s;
}
.no-visible{
    top:-100px
}
.visible {
    top:0;
}

@media screen and (max-width: 768px) {
  .fix-to-top-mobile{
      padding:0;
      position: sticky;
      /* top: 0; */
      z-index: 1020; 
      transition: top 0.3s;
     }
     .fix-to-top{
        position: absolute;
        top: 0;
        z-index: 0;
    }
}
.position-end {
    position: absolute;
    right: 3rem;
}