.nav-main{
    z-index: 1;
}

.nav-links-text {
    list-style: none;
 }
 
 .nav-links-text a {
    color: #278145 !important;
    text-decoration: none;
    font-size: 1.5rem;
 }

 .nav-links-text a:hover {   
    color:#86b394 !important;
}

.navbar-responsive-icons-container li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
.navbar-responsive-icons-container li{
    text-align: center;
    font-size: 30px;
    list-style: none;
}
.social-navbar-icon{
    color: #278145;
}.social-navbar-icon:hover{
    color:#64b17d;
}

/* nav top de redes */
.nav-top{
    background-color: #f8f9fa;
}
.dropdown-tel {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #83b392;}
  .dropdown-tel:hover .dropdown-content {
    display: block;
  }