body {
  box-sizing: border-box;
  color: black;
}

.footer-fix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-logo-desktop {
  width: 250px;
  height: 60px;
}

@media only screen and (max-width: 768px) {
  .nav-logo-desktop {
    width: 150px;
    height: 40px;
  }
}

.container-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(https://res.cloudinary.com/dbv6dgwez/image/upload/v1644556648/Allcot%20Trading/1200px-World_map_green_lucpnp.png) no-repeat top center;
  background-size: cover;
  color: white;
}

.text-format {
  padding: 5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.text-format h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

.text-format h5 {
  text-align: justify;
}

.text-format p {
  text-align: justify;
}

.ver-mas {
  cursor: pointer;
}

.ver-mas:hover {
  color: #278145;
}

.bg-grey {
  background-color: whitesmoke;
}

.bg-blue {
  background-color: whitesmoke;
  border: none;
}

/* BOTON GENERAL */
.btn-general-style {
  font-family: "Montserrat", sans-serif !important;
  background-color: #278145;
  color: white;
  border: 1px solid #278145;
  font-size: 20px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-general-style:hover {
  background-color: white;
  color: #278145;
}

.title-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #278145;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6 !important;
}